* {
    margin: 0;
    font-family: arial;
    border: border-box;

}

body {
    margin: 0;
    padding: 0;   
    background-size: cover;
    font-family: sans-serif;
   
    /*   background-position:center;*/
    /* background:linear-gradient(115deg,#56d8e4 10%, #9f01ea 90%); */

}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    width: 100%;
    color: red;
    background-color: white;
    height: 90px;

}

.nav-name {
    font-weight: 590;
    font-family: Gabriola, Times, serif;
    font-size: 3.5rem;
    text-shadow: 3px 3px 3px gray;
    color: teal;
}


.emergency {
    font-size: 1.2rem;
    margin-right: 60px;
    font-weight: bold;
}

/* menubar*/

.menubar {
    background-color: #232F3E;
    height: 42px;
    display: flex;
    align-items: center;
    width: 90%;

}

.dropdown-menu a {
    text-align: center;
    background-color: rgb(200, 226, 236);
    color: #232F3E;
}

.alink {
    color: #fff;
    margin-left: 90px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1rem;

}

.menu {
    width: 85%;
    display: flex;
}

/* LoginModal css */

.login-button {
    position: fixed;
    top: 90px;
    left: 90%;
    width: 10%;
    height: 42px;
    font-size: 1.5rem;
    background-color: #232F3E;
    border: none;
    color: white;
}

.modal-content {
    background: url("bg-h.jpg");
    background-size: cover;
    height: 550px;
    border: 1px solid#2b6072;
    margin-top: 100px;

    /* border-radius,width not applied to modal content  ? */
}

.l-div {
    display: flex;
    justify-content: left;
    align-items: center;

}

.login-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 20px;


}

#login-txt {
    margin: 0;
    margin-top: 30px;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 40px;
    color: #2b6072;
}

.login-form label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.3rem;
    color: #2b6072;
    width: 100%
}

.login-form {
    margin-left: 25px;
    width: 350px;
}

.login-form input {
    border: none;
    border-bottom: 3px solid #2b6072;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    color: #2b6072;
    font-size: 18px;

}

.login-form button {

    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
    background: #2b6072;
    color: white;
    height: 40px;
    width: 100%;
}


.login-form a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    line-height: 20px;
    color: #2b6072;
    font-weight: bold;
}

.login-form button:hover {
    cursor: pointer;
    background: #1c9436;
    color: #fff;
}

.login-form a:hover {
    color: #1c9436;
}



.contact_us_content {
    justify-content: space-evenly;
    background-size: 100% 100%;
    width: 100%;
   

}
.slide-image {
    margin-top: 130px;
    background-size: cover;
}

.about-page {
   
   background-size: 100% 100%;
   height: 700px;
   width:100%;
}
.about-text {
    font-size:3rem;
    font-weight: bold;
    text-align: left;
    margin-left:35px;
    color:#2b6072;
}
.about-desc {
    text-indent:7%;
    text-align: left;
    line-height: 20px;
    color:#232F3E;
    width:100%
}
       
/*   Doctors*/
.doctors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 190px;
    margin-right: 190px;
    margin-top:50px;
    
   
}

.box {

    background-color: white;;
    color: #232F3E;
    width: 280px;
    border: 0px solid #232F3E;
    box-shadow: 2px 2px 5px  gray;
    height: 340px;
    border-radius: 10px;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    
}

.doc1-img {
    background-image: url('pro-icon.png');
    background-size: cover;  
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-left:57px;
    margin-top:13px;


}

.doc2-img {
    background-image: url('pro-icon.png');
    background-size: cover;
    background-size: cover;  
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-left:57px;
    margin-top:13px;

}

.doc3-img {
    background-image: url('docter1.jpg');
    background-size: cover;  
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin-left:57px;
    margin-top:20px;
}

.doc-name {
   font-size: 1.4rem;
   font-weight: bold;
   color:#232F3E;
   width:100%;
   margin-top:20px;
   text-align: center;
   
}
.doc-degree {
   text-align: center;  
   background-color: gray;
   height: 65px; 
   padding: 3px; 
   width:90%;
   margin: 15px;
   color: white;
   font-size:0.9rem;
}
.doc1 .doc-degree {
    padding-top: 7px;
}





/*Footer*/

.footer-info {

    padding-left: 460px;
    padding-right: 460px;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
    /*background-color:paleturquoise;*/
    background-color: #232F3E;
    width: 100%;
    height: 100px;
    display: block;
    margin: 0;
}

.text-deco {
    text-decoration: none;
}

.address-data {
    display: flex;
}

.mobno {
    display: flex;
}