
body{
	margin:0;
	padding:0;
	/* background:url("img.avif"); */
	/* background:linear-gradient(115deg,#56d8e4 10%, #9f01ea 90%); */
	background-size:cover;
	height: auto;
	font-family:sans-serif;
	/*   background-position:center;*/
}
/* .modal-dialog {
	 Applied inline css width:400px 
} */
.modal-content {
	background:url("bg-h.jpg");
	background-size:cover;
	height:550px;
	border: 1px solid#2b6072;
	margin-top:100px;
		
	/* border-radius,width not applied to modal content  ? */
}

.l-div {
	display:flex;
	justify-content: left;
	align-items:center;

}

.login-img{
	width:110px;
	height:110px;
	border-radius:50%;
	margin-right: 20px;
	
	
}
  #login-txt{
	margin:0;
	margin-top:30px;
	text-align:center;
	font-size:2.4rem;
	margin-bottom:40px;
	color: #2b6072;
}
form label{
	margin:0;
	padding:0;
	font-weight: bold;
    font-size:1.3rem;
	color: #2b6072;
	width:100%
}
form {
	margin-left:25px;
	width:350px;
}
form input {
	border:none;
	border-bottom : 3px solid#2b6072;
	background:transparent;
	width:100%;
	margin-bottom:20px;
	outline:none;
	height: 40px;
	color: #2b6072;
	font-size: 18px;

}
/* button  */

form button{
	
	font-size: 1.5rem;
	border:1px solid white;
	border-radius: 20px;
	margin-bottom:20px;
	margin-top:25px;
	background: #2b6072;
	color:white;
	height: 40px;
	width:100%;
}
 

form a{
	display:flex;
	align-items: center;
	justify-content:center ;
	margin-top:25px;
	line-height: 20px;
	color:#2b6072;
	font-weight:bold;
}

form button:hover{
	cursor: pointer;
	background:#1c9436;
	color:#fff;
}

form a:hover{
	color:#1c9436;
}